@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* --------------------<< 漸層按鈕 >>-------------------- */
  .btn {
    position: relative;
  }

  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #f87171, #eab308);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 12px;
  }

  .btn:hover::before {
    opacity: 1;
    border-radius: 12px;
  }

  .btn:active::before {
    background: linear-gradient(to right, #fecaca, #fef08a);
    opacity: 1;
    border-radius: 12px;
  }
  /* --------------------<< 卡片 >>-------------------- */
  .flowCard {
    @apply p-2 w-40 h-auto float-left;
  }
}
